In [1]:
import pandas as pd

Reading Data

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0    104         0   53          1          -1              1
1     98         1   65          0          -1              1
2    103         1   32          0           0              1
3     98         0   17          1           1              0
4     98         0   17          1           0              1

In [4]:
df.tail()

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2495     98         0   69          1          -1              0
2496    102         0   11          0          -1              1
2497    100         0   54          0           0              1
2498    103         0    6          1          -1              0
2499    100         0   90          1           0              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2500 non-null   int64
 1   bodyPain       2500 non-null   int64
 2   age            2500 non-null   int64
 3   runnyNose      2500 non-null   int64
 4   diffBreath     2500 non-null   int64
 5   infectionProb  2500 non-null   int64
dtypes: int64(6)
memory usage: 117.3 KB

In [6]:
df['diffBreath'].value_counts()

 1    858
-1    851
 0    791
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2500.000000,2500.000000,2500.000000,2500.00000,2500.000000,2500.000000
mean,101.075600,0.491200,50.555200,0.50320,0.002800,0.486000
std,1.976726,0.500023,28.732956,0.50009,0.826962,0.499904
min,98.000000,0.000000,1.000000,0.00000,-1.000000,0.000000
25%,99.000000,0.000000,25.000000,0.00000,-1.000000,0.000000
50%,101.000000,0.000000,51.000000,1.00000,0.000000,0.000000
75%,103.000000,1.000000,76.000000,1.00000,1.000000,1.000000
max,104.000000,1.000000,100.000000,1.00000,1.000000,1.000000

## TRAIN TEST SPLITING

In [8]:
import numpy as np

In [12]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled= np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([5, 0, 6, 1, 3, 2, 4])

In [13]:
train,test=data_split(df,0.2)

In [14]:
train

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2055    101         0   82          0           0              0
1961    103         0   34          0           0              0
1864    100         1   74          1          -1              1
2326    104         1   46          1           0              1
461     104         1   12          0           1              1
...     ...       ...  ...        ...         ...            ...
1638    102         1   97          1           1              1
1095    102         0   91          1           1              1
1130    102         0    3          1          -1              1
1294    104         0   81          0          -1              0
860     104         0   75          0           1              1

[2000 rows x 6 columns]

In [15]:
test

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1447    101         1   29          1          -1              1
1114    100         0   69          0           0              1
1064    102         1   33          1           0              0
2287    102         1   21          1           1              1
1537    100         0   91          1           0              0
...     ...       ...  ...        ...         ...            ...
2375     99         0   85          0          -1              1
1609    103         0   11          0          -1              0
596      98         1   68          1          -1              0
84      102         1   97          1           1              0
2213     99         1   44          1           1              1

[500 rows x 6 columns]

In [26]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [36]:
Y_train = train[['infectionProb']].to_numpy().reshape(2000,)
Y_test = test[['infectionProb']].to_numpy().reshape(500,)

In [32]:
Y_train

array([[0, 0, 1, ..., 1, 0, 1]], dtype=int64)

In [35]:
from sklearn.linear_model import LogisticRegression

In [37]:
clf= LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [47]:
inputFeatures=[102,1,22,-1,1]
infProb= clf.predict_proba([inputFeatures])[0][1]

In [48]:
infProb

0.4201838574294674